*{margin:0px; padding:0px;}
.container{
	width:100%; min-height:500px;
	background-color:#354A5F;
}

img{
	width:100%; min-height:100px;
	text-align:center;
	margin:1px;
	border:1px solid;
	border-radius:100%;
}
.form-section{
	width:70%; min-height:280px;
	background-color:white;
	margin:0px auto;
}
.section{
	width:100%; min-height:100px;
	
	padding:2%;
}





a{
	text-decoration:none;
	color:white;
	padding:2%;
	background-color:#8F44AD;
	margin-left:80%;
	font-size:16px;
}
.footer{
	text-align:center;
	color:white;
	padding:2%;
}