/*Self Style file.*/
body{
	background-color: #28D4C4; 
}
/*End: body end...*/


.header-section{ /*style code for header section...*/ }
.header-section h1{
	padding:10px 0px; text-align:center; 
	color: #EAFFFF; text-shadow:1px 1px black; 	
} 
/*END: HEADER SECTION STYLE END..*/


.menu-section{ /*style code for menu section...*/ }
.menu-section-item{ background-color: #fff; max-height:40px;  }
.col-md-4 p{	/*style code...*/	}
.col-md-4 p a{
	color:#28D4C4; text-transform:uppercase; 
	font-weight:bold;  line-height:40px; 
}
.col-md-8 .menu-right-content{
	background-color: #F0F0F0; 
	height:30px; margin:5px 0px; 
}
/*END: menu sectin style end..........*/


.content-section{ margin:8px 0px;  } 
.content-section-left,.content-section-right{
	background-color:white; min-height:366px; 
}
.content-section-center{ /*content section style*/ }

.top{ /*content top box style ..*/}
.box{ background-color:white; min-height:50px;}

.center,.bottom{ background-color:white; margin-top:8px; }
.center{ min-height:250px;}
.bottom{ min-height:50px; }
/* END: CONTENT SECTION END...*/

.section-portfolio{ margin-top:8px;  }
.section-footer{ color:teal; text-align:center; padding:10px 0px;
	margin-top:8px; background:white; margin-bottom:20px;
}